{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="header">
            <nav>
                <div class="icon" onclick="_aside.open()">
                    <i class="material-icons">menu</i>
                </div>
            </nav>
        </div>
        <div class="body">
            {% for day in days %}
                <div>{{ day }}</div>
            {% empty %}
                <div>비었음</div>
            {% endfor %}
        </div>
    </div>
    <div class="aside inactive">
        <div class="aside-bg" onclick="_aside.close()"></div>
        <aside>
            <div class="aside-header">
                <section class="hero">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">limeday</h1>
                            <h2 class="subtitle">@{{user.username}}</h2>
                        </div>
                    </div>
                </section>
                <div class="menu">
                    <div class="menu-item">
                        <div>Profile</div>
                    </div>
                    <div class="menu-item">
                        <div>D-day</div>
                    </div>
                </div>
            </div>
            <div class="favicon-author">
                <div>
                    This site's favicon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </div>
            </div>
        </aside>
    </div>
{% endblock body %}
