{% extends "base.html" %}

{% load static %}

{% block body %}
    <div class="container">
        {% include "./header.html" %}
        <div class="body"></div>
    </div>
    {% include "./submenu.html" %}
    {% include "./aside.html" %}
    <div class="dialog dday-form"></div>
    <div class="dialog join"></div>
    {% csrf_token %}
    <script src="{% static 'js/app/dday.js' %}"></script>
    <script src="{% static 'js/app/datepicker.js' %}"></script>
    <script src="{% static 'js/app/form.js' %}"></script>
    <script src="{% static 'js/app/join.js' %}"></script>
{% endblock body %}
