<div class="floating">
    <div class="floating-btn-cont">
        <div class="floating-btn trigger-btn" onclick="_submenu.open()">
            <i class="material-icons">add</i>
        </div>
    </div>
</div>
<div class="submenu inactive">
    <div class="submenu-bg" onclick="_submenu.close()"></div>
    <div class="floating">
        <div class="floating-btn-cont">
            <div class="floating-label">공유하기</div>
            <div class="floating-btn">
                <i class="material-icons">share</i>
            </div>
        </div>
        <div class="floating-btn-cont">
            <div class="floating-label">수정하기</div>
            <div class="floating-btn">
                <i class="material-icons">mode_edit</i>
            </div>
        </div>
        <div class="floating-btn-cont">
            <div class="floating-label">추가하기</div>
            <div class="floating-btn">
                <i class="material-icons">add</i>
            </div>
        </div>
        <div class="floating-btn-cont">
            <div class="floating-btn trigger-btn" onclick="_submenu.close()">
                <i class="material-icons">done</i>
            </div>
        </div>
    </div>
</div>