{% extends "../base.html" %}

{% load static %}

{% block body %}
<div class="container login">
    <h1 class="title">limeday</h1>
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div id="login-form"></div>
            <div class="submit-btn">
                <input type="submit" class="button btn-block" value="로그인" />
            </div>
            <div class="join-link">
                <span onclick="_join.show()">아직 아이디가 없나요?</span>
            </div>
        </form>
    </div>
</div>
<div class="dialog join"></div>
<input type="hidden" name="idcheckUrl" value="{% url 'idcheck' %}">
<input type="hidden" name="joinUrl" value="{% url 'join' %}">
<script src="{% static 'js/app/login.js' %}"></script>
<script src="{% static 'js/app/join.js' %}"></script>
{% endblock body %}
