html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.input {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #00B200;
    box-shadow: none;
}

.input:focus, .input.active, .input:hover {
    outline: none;
    border-bottom: 1px solid #00B200;
    box-shadow: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';

    cursor: pointer;
}

.login .title {
    color: #00B200;
}

.login {
    width: 70vw;
    max-width: 400px;
    height: 100%;
    padding-top: 10rem;
}

.login-form {
    padding-top: 1rem;
}

.submit-btn {
    padding-top: 2rem;
}

.join-link {
    padding-top: 1rem;
    font-size: 0.9rem;
    text-align: right;
    color: #00B200;
}

.button {
    background: #00B200;
    color: #ffffff;
    border-color: #00B200;
}

.submit-btn .button {
    display: block;
    width: 100%;
    height: 3rem;
}

.aside {
    position: fixed;
    display: flex;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.aside.inactive {
    display: none;
}

.aside-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.aside aside {
    width: 70vw;
    max-width: 400px;
    height: 100%;
    background-color: #ffffff;
}

.aside * {
    color: #00B200;
}

.aside .hero-body {
    padding: 5rem 1rem 3rem 2rem;
}

.aside .menu {
    padding: 2rem 0 2rem 2rem;;
}

.aside .menu-item {
    padding: 1rem 0;
    cursor: pointer;
}

.favicon-author {
    position: absolute;
    bottom: 0;
    width: 70vw;
    max-width: 450px;
    font-size: 0.3rem;
    padding: 1rem;
}

.container {
    height: 100%;
}

.header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account {
    display: flex;
    justify-content: space-between;
    width: 5.5rem;
}

.account .user {
    color: rgba(146, 146, 146, 1);
    cursor: pointer;
}

.header .icon > i {
    font-size: 2rem;
    color: rgba(146, 146, 146, 0.5);
}

.body {
    height: 100%;
}

.ddays {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.dday-card {
    text-align: center;
}

.dday {
    font-size: 2rem;
    font-weight: bold;
}

.floating {
    position: absolute;
    padding: 0 2rem 2rem 0;
    bottom: 0;
    right: 0;
}

.floating-btn-cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1rem;
}

.floating-label {
    padding-right: 1rem;
    color: #ffffff;
}

.floating-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 3px 4px 0 #909090;
    cursor: pointer;
}

.trigger-btn {
    background: #00B200;
    color: #ffffff;
}

.floating-btn .material-icons {
    font-size: 1.3rem;
}

.submenu {
    position: fixed;
    display: flex;
    align-items: stretch;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.submenu.inactive {
    display: none;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.dialog .dialog-head {
    display: flex;
    align-items: center;
    padding: 1rem;
    background: #00B200;
    color: #ffffff;
    box-shadow: 0 3px 4px 0 #bdbdbd;
    font-size: 1.1rem;
    font-weight: bold;
}

.dialog .close-btn {
    display: flex;
    padding-right: 1rem;
}

.dialog .dialog-head i {
    font-size: 1.3rem;
}

.dialog .save-btn {
    flex: 1;
    display: inline-flex;
    justify-content: flex-end;
    font-weight: normal;
}

.dialog .dialog-body {
    padding: 1rem 1.5rem;
    margin: 0 auto;
    max-width: 600px;
}

.input-group {
    position: relative;
    padding: 1.5rem 0 0.2rem;;
}

.input-group label {
    position: absolute;
    top: 1.5rem;
    z-index: -1;
    font-size: 1.2rem;
    color: #a2a2a2;
    -webkit-transition-property: top, font-size, color;
    transition-property: top, font-size, color;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.input-group.error label {
    color: #e23b3b;
}

.input-group label.focus {
    top: 0.3rem;
    font-size: 0.8rem;
    color: #00B200;
}

.input-group.error label.focus {
    color: #e23b3b;
}

.input-group label.filled {
    top: 0.3rem;
    font-size: 0.8rem;
}

.input-group .input-wrap {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #cecece;
}

.input-group.error .input-wrap {
    border-bottom: 1px solid #e23b3b;
}

.input-group:not(.error) .input-wrap.focus {
    border-bottom: 1px solid #00B200;
}

.input-group input {
    width: 100%;
    font-size: 1rem;
    border: none;
    background: transparent;
}

.input-group input:focus {
    outline: none;
}

.input-group .help-text {
    padding-top: 0.5rem;
    line-height: 0.8rem;
    font-size: 0.8rem;
    color: #909090;
}

.input-group.error .help-text {
    color: #e23b3b;
}

#datepicker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#datepicker .picker-wrap {
    position: relative;
    top: 3rem;
}

#datepicker .picker {
    width: 95vw;
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
}

#datepicker .picker-head {
    padding: 1rem;
    background: #00B200;
    color: #d4fbd4;
    box-shadow: 0 3px 4px 0 #bdbdbd;
}

#datepicker .picker-head .year {
    color: #5cf75c;
}

#datepicker .picker-head .date {
    font-size: 1.5rem;
}

#datepicker .picker-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
}

#datepicker .picker-nav > div {
    padding: 1rem 1rem 0.5rem;
}

#datepicker .calendar .month {
    padding-bottom: 0.5rem;
    text-align: center;
}

#datepicker .calendar .weekdays,
#datepicker .calendar .week {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

#datepicker .calendar .weekdays > div {
    text-align: center;
    color: #a2a2a2;
}

#datepicker .calendar .week > div {
    display: flex;
    margin: 0 auto;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#datepicker .calendar .week > div.today {
    color: #00B200;
}

#datepicker .calendar .week > div.pick {
    background: #00B200;
    color: #ffffff;
}

#datepicker .btn-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 1rem 1rem;
}

#datepicker .btn-wrap > div {
    color: #00B200;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}
